// Colors of project

$primary-color: #daa520;
$primary-light: #cc9e38;
$second-color: #71b2d8;

$white-light: #fefbff;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;